<!DOCTYPE html>
<html>
<head>
	<title>Registered status</title>
	<link rel="stylesheet" type="text/css" href="../static/register_status.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="register-page-two-container">
<div class="form-register-page-two-container sign-up-register-page-two-container">
</div>
<div class="form-register-page-two-container sign-in-register-page-two-container">
	<form action="#">
		
		<h1>Congratulations</h1>
		<h2>Successfully Registered</h2>
		<a href="/register"><button>Login</button></a>
		
	</form>
</div>
<div class="overlay-register-page-two-container">
	<div class="overlay">
		<div class="overlay-panel overlay-right">
			<img src="../static/img/Saly-14.png">
		</div>
	</div>
</div>
</div>
</body>
</html>








