html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
    font-size: 20px;
    font-weight: 600;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

/* body {
    --accent-color: orangered;
    --background-color: white;
    --text-color: black;
    --button-text-color: var(--background-color);
    --transition-delay: 1s;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  body.dark {
    --accent-color: #D0D066;
    --background-color: #333;
    --text-color: white;
  } */