/* body {background-color: #c7b5e7;
}

#leftHalf {
  background: url(/static/img/logo-home.png);
  width: 50%;
  position: absolute;
  left: 0px;
  height: 100%;
  top: 0px;
}
#rightHalf {
  background-color:#6600ff ; 
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
  top: 0px;
}

.topnav {
  background-color: #6600ff;
  overflow: hidden;
  float: right;
  right: 6%;
  position: relative;
  z-index: 2;
  border-style: solid;
  border-color:black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 17px;

}
  
  .topnav a:hover {
    background-color: #290066;
    color: #f2f2f2;
  }
  
  .topnav a.active {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
  } */
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 2px;
    border-color: green;
  }
  
  /* Clear floats after image containers */
  .row {
    content: "";
    clear: both;
    display: flex;
    position: absolute;
    top:45%;
    left:20%
  }

  .name{
    position: absolute;
    top:20%;
    left:20%;
    font-size: 30px;
  }
  
  /* .container{
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
  } */



.form input{
    /* font-family: monospace; */
    /* outline: 5; */
    /* background: #ffffff; */
    width: 100%;
    /* border:0; */
    /* margin: 0 0 15px; */
    padding: 15px;
    /* box-sizing: 20px; */
    /* font-size: 20px; */
    /* text-align: center; */
}

.form button{
    /* font-family: monospace; */
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
width: 100%;
height: 54px;
left: 827px;
top: 687px;
    /* background: #5a2e9b; */
    
background: #0089ED;
box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
border-radius: 10px;

}

/* .form label{
font-family: monospace;
} */


.optionb{ 
  
    padding: 2px;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: right;
    font-family: 'Poppins';
font-style: normal;
 }
 
.form .optionb a{
    color: #4285F4;
}
.form button:hover {
    font-style: oblique;
    color: white;
    background: #f15c31; 
}

.form .register{
    display: none;
}
.form .select {
  color: black ;
}
  
h2  {
  top: 30%;
  font-size: 70px;
  position: absolute;
  text-align: center;
}

td {
  border: 1px solid #999;
  padding:10px 10px;
}

/* canvas {
  position: absolute;
  align-content: center;
}

video{
display: block; 
margin: auto; 
} */


.letters{
  /* font-size: 39px; */
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 21px;
    line-height: 46px;
display: flex;
/* identical to box height */


color: #000000;
}
.in-put{

background: #FFFFFF;
border: 1px solid #4285F4;
border-radius: 9px;
}

.form input ::placeholder{
  font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
display: flex;

color: #808080;
}
.top-sign{
  position: relative;
  /* background-color: aqua; */
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
}
.left-top{
/* background-color: blueviolet; */
display: flex;
flex-direction: column;
}
.up-top{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 26px;
    line-height: 40px;
/* identical to box height */


color: #000000;
}
.up-top p1{
  color:#f15c31;
}
.down-top{
  position: relative;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 55px;
line-height: 82px;
/* identical to box height */


color: #000000;

}
/* .right-top{
background-color: darkgoldenrod;
display: flex;
flex-direction: column;
justify-content: right;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 43px;
line-height: 20px;

color: #8D8D8D;
} */


